<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻首页</title>
    <style type="text/css">
        .container {
            width: 1000px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>新闻首页</h2>
        <ul>
            <li><a href="/news">新闻列表</a></li>
            <li><a href="/form">测试Form</a></li>
            <li><a href="/cookie">测试Cookie</a></li>
            <li><a href="/session">测试Session</a></li>
            <li><a href="/loginOut">登出</a></li>
        </ul>

        <ul>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
            <li>你好~~~~~~~</li>
        </ul>
    </div>
</body>

</html>